[Desktop Entry]
Version=1.0
Type=Application
Name=SpiceGUI
GenericName=Circuit Simulator
GenericName[es]=Simulador de Circuitos
Comment=Easy SPICE circuit simulation
Exec=spicegui %F
Icon=spicegui
Terminal=false
Categories=Science;GTK;GNOME;Electricity;Electronics;
Keywords=SPICE;ngspice;
Name[es]=SpiceGUI
MimeType=application/x-geda-schematic;application/x-pcb-netlist;text/plain;

