[Desktop Entry]
Version=1.0
Type=Application
Name=Circuit Simulator
Name[es]=Simulador de Circuitos
GenericName=Circuit Simulator
GenericName[es]=Simulador de Circuitos
Comment=Easy SPICE circuit simulation
Exec=python circuit_simulator/__init__.py %F
Icon=circuit-simulator
Terminal=false
Categories=Science;GTK;GNOME;Electricity;Electronics;
Keywords=SPICE;ngspice;
